{% extends "layout.html" %}

{% block content %}
        <h1>Hello{% if current_user.name %}, {{ current_user.name }}{% endif %}!</h1>
        <h1>Hello{% if current_user.id %}, {{ current_user.id }}{% endif %}!</h1>
		<b>Available Games {{ games | count  }}</b>
		<ul>
		{% for game in games %}
			<li>
				{{ game.id }} {% if game.list_players() | count > 0 %} | {{ game.list_players() | count }} joined {% endif %}
				{% if game.is_player(current_user.id) %} | you have joined  {% endif %} 
				{% if game.is_open() %} | game waits for next player  {% endif %} 
				{% if game.is_open() and not game.is_player(current_user.id) %} 
					| <a href="{{ url_for('joingame', id=game.id) }}">join!</a>
				{% endif %}
				{% if not game.is_open() and game.is_player(current_user.id) %}
					| <a href="{{ url_for('game', id=game.id) }}">play!</a>
				{% endif %}	wdwdw
				{% if game.is_open() and game.is_player(current_user.id) %}
					| <a href="{{ url_for('game', id=game.id) }}">start!</a>
				{% endif %}				
			</li>
        {% endfor %}	
		</ul>
        
{% endblock %}
