<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        {% block moremeta %}
        {%endblock %}
        <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
        <!--
<link rel="stylesheet" href="{{ url_for('static', filename='lib/bootstrap/css/bootstrap.min.css')}}">
        <link rel="stylesheet" href="{{ url_for('static', filename='lib/morris/0.5.1/morris.css')}}">
        -->
        {% if title %}
        <title>{{ title }}</title>
        {% else %}
        <title>Welcome to Battleships!</title>
        {% endif %}

		<!--
        <script src="{{ url_for('static', filename='lib/d3/d3.v4.js')}}"></script>
        <script src="{{ url_for('static', filename='lib/nvd3/nv.d3.js')}}"></script>
        <script src="{{ url_for('static', filename='lib/rtp/Vector.js')}}"></script>
        <script src="{{ url_for('static', filename='lib/bootstrap/js/bootstrap.min.js')}}"></script>
        <script src="{{ url_for('static', filename='lib/raphael/2.2.1/raphael.min.js')}}"></script>
        <script src="{{ url_for('static', filename='lib/morris/0.5.1/morris.min.js')}}"></script>
        <script src="{{ url_for('static', filename='lib/rtp/functions.js')}}"></script>
        <script src="{{ url_for('static', filename='lib/socket-io/socket.io.min.js')}}"></script>
		-->
        <script src="{{ url_for('static', filename='lib/jquery/jquery-3.4.1.min.js')}}"></script>
        <script src="{{ url_for('static', filename='lib/jquery/jquery-ui.min.js')}}"></script>
        <script src="{{ url_for('static', filename='lib/jquery/jquery.ui.touch-punch.min.js')}}"></script>

        <style>
            body {
                padding: 20px;
            }
            @media (max-width: 980px) {
                body {
                    padding: 0;
                }
            }
        </style>

    </head>
    
    <body>
        <div>
		Cards:
        <a href="{{ url_for('index') }}">Home</a> |
        {% if current_user.is_anonymous %}
        <a href="{{ url_for('login') }}">Login</a>
        {% else %}
        <a href="{{ url_for('logout') }}">Logout</a>
        {% endif %}
   
		</div>
		
        <hr />
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}

{% block content %}

{% endblock %}
    
    
    
<style>


</style>


    <script src="{{ url_for('static', filename='lib/socket-io/socket.io.min.js')}}"></script>
    <script src="{{ url_for('static', filename='lib/d3/d3.v4.min.js')}}"></script>
    <script src="{{ url_for('static', filename='cards.js')}}"></script>
    <script>

      // socket.on('update_boat', function(boat_string) {
      //     var boat = JSON.parse(boat_string)
      //     console.log('processing update boat in game.html',boat)
      //     d3.select('#'+boat.name).datum(boat)
      //     boat_update()   
      //     socket.emit('log' , 'updated boat recieved game.html as '+boat_string)
      // })

        
    </script>
    
    </body>
    
    
</html>